---
import links from 'public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: '常用連結' },
  { depth: 2, slug: 'special-links', text: '特別連結' },
  { depth: 2, slug: 'apply-links', text: '申請連結' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/C-4-C-4/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='友情連結' {headings} comment>
  <p>排列順序為隨機生成</p>
  <h2 id='common-links'>友情連結</h2>
  <FriendList list={friends[0]} />
  <Collapse title='狀態異常的連結'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='連結歷史記錄'>
    <Timeline events={linksConf.logbook} />
  </Collapse>
  <h2 id='special-links'>特別連結</h2>
  <FriendList list={friends[2]} />

  <h2 id='apply-links'>申請連結</h2>
  <p>本站資訊（點擊複製）：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    可透過下方留言或 <a href={linkEditPage} target='_blank'>提交 PR</a> 申請友鏈。申請說明：<br />
  </p>
  <ul>
    <li>推薦了本站（在您的網站上添加了本站的連結）</li>
    <li>站點存活且有正式網域</li>
    <li>至少五篇原創文章且最近一年有更新過</li>
    <li>內容不違反國家法律</li>
  </ul>
</PageLayout>
